<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nhan-vien-heading" data-cy="NhanVienCreateUpdateHeading" jhiTranslate="codejhipsterApp.nhanVien.home.createOrEditLabel">
        Create or edit a Nhan Vien
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="codejhipsterApp.nhanVien.chucVu" for="field_chucVu">Chuc Vu</label>
          <input type="text" class="form-control" name="chucVu" id="field_chucVu" data-cy="chucVu" formControlName="chucVu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="codejhipsterApp.nhanVien.hoTen" for="field_hoTen">Ho Ten</label>
          <input type="text" class="form-control" name="hoTen" id="field_hoTen" data-cy="hoTen" formControlName="hoTen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="codejhipsterApp.nhanVien.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="codejhipsterApp.nhanVien.diaChi" for="field_diaChi">Dia Chi</label>
          <input type="text" class="form-control" name="diaChi" id="field_diaChi" data-cy="diaChi" formControlName="diaChi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="codejhipsterApp.nhanVien.soDienThoai" for="field_soDienThoai">So Dien Thoai</label>
          <input
            type="text"
            class="form-control"
            name="soDienThoai"
            id="field_soDienThoai"
            data-cy="soDienThoai"
            formControlName="soDienThoai"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
