<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="thongTinNguoiBenh">
      <h2 data-cy="thongTinNguoiBenhDetailsHeading">
        <span jhiTranslate="codejhipsterApp.thongTinNguoiBenh.detail.title">Thong Tin Nguoi Benh</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ thongTinNguoiBenh.id }}</span>
        </dd>
        <dt><span jhiTranslate="codejhipsterApp.thongTinNguoiBenh.hoVaTen">Ho Va Ten</span></dt>
        <dd>
          <span>{{ thongTinNguoiBenh.hoVaTen }}</span>
        </dd>
        <dt><span jhiTranslate="codejhipsterApp.thongTinNguoiBenh.soBenhAn">So Benh An</span></dt>
        <dd>
          <span>{{ thongTinNguoiBenh.soBenhAn }}</span>
        </dd>
        <dt><span jhiTranslate="codejhipsterApp.thongTinNguoiBenh.gioiTinh">Gioi Tinh</span></dt>
        <dd>
          <span>{{ thongTinNguoiBenh.gioiTinh }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/thong-tin-nguoi-benh', thongTinNguoiBenh.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
